@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,::after,::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #FAFBFD;
    font-family: 'Lato', sans-serif;
}

.wrapper{
    width: 100%;
    display: flex;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left .info-logo{   
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 150px;
}

.campus{
    margin-bottom: -3px;
    font-size: 60px;
    font-weight: 900; 
    color: #F8B62E;
}

.usep{
    margin-bottom: -5px;
    font-size: 20px;
}

.ecanteen{
    margin-bottom: 0px;
    font-size: 20px;
}


.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 370px;
}

.login-head{
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    border-bottom: 1px solid #B4B4B4;
}

.login-head p{
    margin-bottom: 0px;
}

.find-account{
    margin-top: 20px;
    color: #5F5F5F;
}

.find-account input{
    width: 80%;
    border: none;
    outline: none;
    background-color: #F4F4F4;
    height: 40px;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 6px;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons .cancel{
    border: none;
    padding: 8px;
    width: 90px;
    font-weight: bold;
    font-size: 12px;
    color: black;
    border-radius: 6px;
    margin-right: 5px;
}

.modal-footer .btn-save{
    border: none;
    padding: 8px;
    width: 130px;
    font-size: 12px;
    color: white;
    background-color: #F8B62E;
    border-radius: 4px;
}

.modal-header h4{
    color: #F8B62E;
    font-weight: calc(1000);
}

.error p{margin-bottom: 0;}

.error{
    font-size: 12px; 
    background-color: #FFE2E6; 
    color: rgb(73, 73, 73);
    padding: 10px;
    padding-left: 10px;
    border-radius: 2px;
    opacity: 1;
    margin-bottom: 20px;
    margin-top: -5px;
    transition: opacity 0.5s ease-in-out; 
}

.cwavey-logo{
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}

.cwavey-logo .logo{
    position: absolute;
    right: 40px;
    top: 120px;
}



@media(max-width: 764px){
    .cwavey-logo{
        display: none;
    }

    .campus{
        font-size: 50px;
        width: 350px;
        margin-top: 30px;
    }

    .usep{
        font-size: 16px;
        width: 380px;
    }

    .ecanteen{
        font-size: 16px;
        width: 350px;
    }
}

