@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,::after,::before{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #FAFBFD;
}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    margin-bottom: 0;
}

li{
    list-style-type: none;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.left-container{
    width: 250px;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    transition: all 0.35s ease-in-out;
    top: 0;
    position: sticky;
    z-index: 3;
    
}

.sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
}

.main-logo{
    width: 45px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

.sidelogo-text{
    margin-left: 10px;
    display: flex;
}

.sidelogo-text p{
    margin-top: -7px;
}

.sidelogo-text p, .sidelogo-text a{
    margin-bottom: 0px;
    text-decoration: none;
    color: #0F947E;
    font-weight: bold;
    font-size: 18px;
}

.sidebar-nav{
    padding: 0;
}

dl, ol, ul{
    margin-bottom: 2.2rem;
}


a.sidebar-link{
    padding: .825rem 1.5rem;
    color: #696969;
    position: relative;
    display: block;
    font-size: 12px;
    display: flex;
}

.sidebar-link.active {
    color: white; /* Change to the desired color when the link is active */
    background-color: #0F947E; /* Change to the desired background color when the link is active */
    border-radius: 7px; /* You can add additional styles as needed */
}

.sidebar-link.active svg path {
    fill: #0F947E; /* Change to the desired fill color when the link is active */
    stroke: white; /* Change to the desired stroke color when the link is active */
}


a.sidebar-link p{
    margin-bottom: 0;
    margin-top: 1px;
}

.sidebar-items svg{
    margin-right: 10px;
    fill: #696969;
    stroke: white;
}

.sidebar-dropdown {
    padding-left: 50px;
}

.sidebar-item a{
    font-size: 14px;
    color: #696969;
    
}

.sidebar-item{
    padding: 3px;
}

.sidebar-item:hover{
    text-decoration: underline;
}

.sidebar-items{
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-items:hover svg path {
    fill: white;
    stroke: white;
}

.sidebar-items:hover .sidebar-link{
    color: white;
    background-color: #0F947E;
    border-radius: 7px;
}

#invHover{
    position: relative;
    fill: #696969;
    stroke: white;
}

#invHover .circle{
    width: 18px;
    height: 18px;
    background-color: #878787;
    position: absolute;
    top: 7px;
    left: 17px;
    border-radius: 50px;
    font-size: 9px;
    color: white;
    text-align: center;
    font-weight: 900;
}

#invHover svg path{
    stroke: white;
}

#invHover:hover svg path{
    stroke: white;
    fill: #0F947E;
}

#invHover:hover .circle{
    background-color: white;
    color: #0F947E;
    font-weight: 900;
}

.circle p{
    padding-top: 1px;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 0.100rem 0.100rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    transform: rotate(45deg);
    transition: all .1s ease-in-out;
}


.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(-135deg);
    transition: all .1s ease-in-out;
    right: 1.1rem;
    top: 1.3rem;
}

.usep-footercard{
    width: 160px;
    height: 190px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%);
    border-radius: 6px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px
}   


.right-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.head-content{
   width: 100%;
   height: 85px;
   background-color: white;
   display: flex;
   align-items: center;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;
   z-index: 2;
}

.head-content .Menu-name{
    color: #0F947E;
    font-size: 32px;
    font-weight: 900;
    padding-left: 10px;
    flex-grow: 4;
    display: flex;
}

.head-searchbar{
    position: relative;
    margin-right: 50px;
}

.head-searchbar img{
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

input:focus {
    outline: none;
}

.head-searchbar input{
    border: none;
    background-color: #FAFBFD;
    height: 45px;
    width: 340px;
    padding-top: -50px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    padding-left: 45px;
}

.usep-texthead{
    flex-grow: 1;
}

.user-profile{
    display: flex;
    margin-right: 50px;
}

.admin-profile{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #D9D9D9;
    flex-grow: 1;
}

.admin-detail{
    text-align: center;
    margin-left: 5px;
}


.usep-texthead{
    display: flex;
    flex-direction: row;
}

.open-btn {
    border: none;
    margin-right: 10px;
    margin-top: 1px;
    display: none;
}

.close-btn{
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}

.head-searchbar img{
    width: 20px;
    margin-top: 12px;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-left: 25px;
    margin-top: 30px;

}

.top-container{
    display: flex;
    width: 97.4%;
}

.right-button{
    display: flex;
}

.right-button img{
    padding-right: 5px;
}


.view-records{
    background-color: #CFCFCF;
    color: white;
    width: 150px;
    border-radius: 2px;
    padding: 6px 6px 6px 6px;
    border: none;
}

.filterDropdown{
    background-color: #0F947E;
    border: none;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    font-size: 14px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 25%);
    border-radius: 2px;
    color: white;
    margin-right: 10px;
}

.form-select{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' stroke='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-select:focus {
    border-color: none;
    background-color: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 25%);
}



.bottom-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.ItemContainer{
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap;
}

ul.pagination{
    padding-top: 20px !important;
    margin-bottom: 20px !important;
    margin-right: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}



.pagination > li > a
{
    background-color: white;
    color: purple;
}

.pagination > li > a,
.pagination > li > a,
.pagination > li > span,
.pagination > li > span
{
    color: white;
    background-color: #0F947E;
    border-color: #ddd;
}



.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #19a890;
    border-color: #ddd;
}

.active>.page-link, .page-link.active {
    background-color: #19a890;
    border: #19a890;
}


.card-main{
    position: relative;
}


.card-1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 40%);
    height: 145px;
    padding: 15px;
    position: relative;
    border: none;
    margin-right: 20px;
    width: 295px;
    margin-bottom: 15px;
}

.card-1 p{
    margin-bottom: 0px;
}

.Cardtop-content{
    display: flex;
    justify-content: left;
    align-items: center;
}

.Cardtop-content .availabe{
    position: absolute;
    right: 13px;
    font-size: 13px;
    z-index: 1;
    color: white;
    top: 37px;
}

.Cardtop-content .Unavailabe{
    position: absolute;
    right: 3px;
    font-size: 13px;
    z-index: 1;
    color: white;
    top: 37px;
}

.Cardtop-content .statusDesign{
    position: absolute;
    right: -14px;
    top: 25px;
}

.Cardtop-content .foodName{
    width: 40%;
    text-align: left;
    margin-bottom: 0px;
    line-height: 1.3rem;
    font-size: 20px;
    font-weight: calc(1000);
    padding-left: 10px;
}

.Cardbottom-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.topBottomcard-content{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}

.topBottomcard-content p{
    font-size: 13px;
    margin-left: 8px;
    color: #878787;
}

.bottomBottomcard-content{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.bottomBottomcard-content p{
    font-size: 13px;
    margin-left: 8px;
    color: #878787;
}

.foodImage{
    width: 80px;
}

.restock{
    position: absolute;
    border: none;
    font-size: 12px;
    padding: 3px;
    background-color: #F1C827;
    border-radius: 50px;
    color: white;
    width: 100px;
    z-index: 1;
   
    right: 30px;
    bottom: 35px;
}

.paginationFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagination{
    padding-top: 30px;
}

/* Laptop Screen Size */
@media only screen and (max-width: 1440px){
    .card-1{
        width: 280px;
    }

}



/* Laptop Screen Size */
@media only screen and (max-width: 1024px){
    .card-1{
        width: 248px;
        height: 120px;
    }

    .usep-texthead{
        display: none;
    }

    .foodImage{
        width: 60px;
    }
    
    .Cardtop-content .foodName{
        width: 40%;
        font-size: 15px;
    }

    .topBottomcard-content p{
        font-size: 10px;
        margin-left: 8px;
        color: #878787;
    }

    .bottomBottomcard-content p{
        font-size: 10px;
        margin-left: 8px;
        color: #878787;
    }


    .restock{
        right: 30px;
        bottom: 25px;
    }

}


/* Tablet Screen Size */
@media only screen and (max-width: 800px) {
    #sidebar{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 4;
    }

    .open-btn{
        display: block;
        margin-top: -12px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .close-btn{
        display: block;
    }

    #sidebar.active{
        margin-left: 0;
    }

    .usep-texthead{
        display: none;
    }

    .head-searchbar{
        margin-right: 50px;
        margin-top: 5px;
    }

    .head-searchbar input{
        height: 40px;
        width: 250px;
    }


    .head-searchbar img{
        width: 18px;
        margin-top: 11px;
    }

    .Menu-name p{
        font-size: 24px;
    
    }

    .usep-footercard{
        margin-left: 30px;
    }

    .main-logo{
        margin-left: -50px;
    }

    .left-container{
        z-index: 2;
    }

    .card-1{
        width: 340px;
    }
}






