@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,::after,::before{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #FAFBFD;
}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    margin-bottom: 0;
}

li{
    list-style-type: none;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.left-container{
    width: 250px;
    height: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    transition: all 0.35s ease-in-out;
    top: 0;
    position: sticky;
    z-index: 3 !important;
}


.sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
}

.main-logo{
    width: 45px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

.sidelogo-text{
    margin-left: 10px;
    display: flex;
}

.sidelogo-text p{
    margin-top: -7px;
}

.sidelogo-text p, .sidelogo-text a{
    margin-bottom: 0px;
    text-decoration: none;
    color: #0F947E;
    font-weight: bold;
    font-size: 18px;
}

.sidebar-nav{
    padding: 0;
}

dl, ol, ul{
    margin-bottom: 2.2rem;
}


a.sidebar-link{
    padding: .825rem 1.5rem;
    color: #696969;
    position: relative;
    display: block;
    font-size: 12px;
    display: flex;
}

.sidebar-link.active {
    color: white; /* Change to the desired color when the link is active */
    background-color: #0F947E; /* Change to the desired background color when the link is active */
    border-radius: 7px; /* You can add additional styles as needed */
}

.sidebar-link.active svg path {
    fill: #0F947E; /* Change to the desired fill color when the link is active */
    stroke: white; /* Change to the desired stroke color when the link is active */
}


a.sidebar-link p{
    margin-bottom: 0;
    margin-top: 1px;
}

.sidebar-items svg{
    margin-right: 10px;
    fill: #696969;
    stroke: white;
}

.sidebar-dropdown {
    padding-left: 50px;
}

.sidebar-item a{
    font-size: 14px;
    color: #696969;
    
}

.sidebar-item{
    padding: 3px;
}

.sidebar-item:hover{
    text-decoration: underline;
}

.sidebar-items{
    margin-left: 10px;
    margin-right: 10px;
}


.sidebar-items:hover svg path {
    fill: white;
    stroke: white;
}

.sidebar-items:hover .sidebar-link{
    color: white;
    background-color: #0F947E;
    border-radius: 7px;
}

#invHover{
    position: relative;
    fill: #696969;
    stroke: white;
}

#invHover .circle{
    width: 18px;
    height: 18px;
    background-color: #878787;
    position: absolute;
    top: 7px;
    right: 140px;
    border-radius: 50px;
    font-size: 9px;
    color: white;
    text-align: center;
    font-weight: 900;
}

#invHover svg path{
    stroke: white;
}

#invHover .shoppingCart path{
    stroke: gray;
}

#invHover.active .shoppingCart path{
    stroke: white;
}

#invHover:active  .circle p{
    color: black;
}

#invHover:hover  .circle p{
    color: white;
}



#invHover.active  .circle{
    background-color: #D42027;
}

#invHover:hover svg path{
    stroke: white;
    fill: #0F947E;
}

#invHover:hover .circle{
    background-color: red;
    color: #0F947E;
    font-weight: 900;
}


.circle p{
    padding-top: 1px;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 0.100rem 0.100rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    transform: rotate(45deg);
    transition: all .1s ease-in-out;
}


.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(-135deg);
    transition: all .1s ease-in-out;
    right: 1.1rem;
    top: 1.3rem;
}

.usep-footercard{
    width: 160px;
    height: 190px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%);
    border-radius: 6px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px
}   


.right-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.head-content{
   width: 100%;
   height: 85px;
   background-color: white;
   display: flex;
   align-items: center;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;
   z-index: 2;
}

.head-content .Menu-name{
    color: #0F947E;
    font-size: 32px;
    font-weight: 900;
    padding-left: 10px;
    flex-grow: 4;
    display: flex;
}

.head-searchbar{
    position: relative;
    margin-right: 50px;
}

.head-searchbar img{
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

input:focus {
    outline: none;
}

.head-searchbar input{
    border: none;
    background-color: #FAFBFD;
    height: 45px;
    width: 340px;
    padding-top: -50px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    padding-left: 45px;
}

.usep-texthead{
    flex-grow: 1;
}

.user-profile{
    display: flex;
    margin-right: 50px;
}

.admin-profile{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #D9D9D9;
    flex-grow: 1;
    object-fit: cover;
}

.admin-detail{
    text-align: center;
    margin-left: 5px;
}


.usep-texthead{
    display: flex;
    flex-direction: row;
}

.open-btn {
    border: none;
    margin-right: 10px;
    margin-top: 1px;
    display: none;
}

.close-btn{
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}

.head-searchbar img{
    width: 20px;
    margin-top: 12px;
}

.main-content{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
}


.container{
    display: flex;
}

.content-1{
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%) !important;
    width: 109%;
}
.content-2{
    margin-left: 10px;
    border-radius: 5px;
    width: 109%;
}

.content-3{
    width: 99%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.content-3 nav{
    height: 60px !important;
}

.table-container{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%) !important;
    border-radius: 5px;
    border: 1px solid white;
    padding-top: 10px;
    height: 70vh;
    overflow: auto;
    background-color: white;
}

.searchbar{
    border: none !important;
}

.form-control:focus {
    outline: none;
}
.btn1{
    background-color: white;
}
.searchbar input{
    border: none !important;
    background-color: #F8F8F8;
    border-radius: 5px;
    font-size: 11px;
}

.input-group-text{
    /*width: 400px;*/
    background-color: #F8F8F8;
    border: none !important;
}

.input-group-text input{
    font-size: 14px;
    border-radius: 0px;
    height: 30px;
    margin-left: 6px;
    width: 100%;
}
.sort{
    color: #656565;
    /* margin-left: 340px;*/
    font-size: 12px;
}
.btn{
    margin-left: 10px;
    width: 150px;
    border-color: #5f5f5f;
    color: black;
    background-color: transparent;
    font-size: 11px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%) !important;
}
.btn:hover{
    border-color: #5f5f5f;
    color: white;
    background-color: #9C1421;
    font-size: 11px;
}
.btnAdd img{
    margin-left: 10px;
    width: 18px;
    height: 18px;
    margin-top: 2px;
}
.btnAdd{
    color: white;
    border-color: transparent;
    background-color: #9C1421;
    font-size: 13px;
    height: 35px;
    width: 150px;
    margin-top: 2px;
    margin-left: 20px;
}
.btnAdd h6{
    margin-top: 3px;
    font-size: 13px;
}
.btnAdd:hover{
    border-color: transparent;
    background-color: green;
    color: white;
}
td{
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
}
thead{
    font-weight: normal;
    font-size: 15px;
    color: #5f5f5f !important;
}
.status{
    color: #3DC53A !important;
}
.Dstatus{
    color: #9C1421 !important;
}

.vwEmpProfile{
    color: white;
    width: 130px;
    border-color:transparent;
    border-radius: 20px;
    border: none;
    height: 26px;
    background-color: #0F947E;
}

.vwEmpProfile:hover{
    background-color: #1cbba0;
    border: none;
}

.vwEmpProfile h6{
    font-size: 10px;
}

.table th, td{
    text-align: center;

}
.toggle-icon {
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.row{
    width: 100%;
    margin-bottom: 20px;
}


.sortDropdown input{
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(162, 162, 162);
}

.filterBtns{
    padding-top: 7px;
    margin-left: 8px;
}

.filterBtns .refresh{
    border: none;
    background-color: #F5BA38;
    color: white;
    width: 100px;
    border-radius: 100px;
    font-size: 14px;
    padding: 3px;
}



/* Large Laptop Screen Size */
@media only screen and (max-width: 1440px) {
    #invHover .circle{
        top: 7px;
        right: 138px;
    }
}


/* Laptop Screen Size */
@media only screen and (max-width: 1024px) {
    .sortContainer {
        margin-left: -45px;
    }

    .usep-texthead{
        display: none;
    }

    #invHover .circle{
        top: 7px;
        right: 125px;
    }
}

/* Tablet Screen Size */
@media only screen and (max-width: 800px) {
    #sidebar{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 4;
    }

    .open-btn{
        display: block;
        margin-top: -12px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .close-btn{
        display: block;
    }

    #sidebar.active{
        margin-left: 0;
    }

    .usep-texthead{
        display: none;
    }

    .head-searchbar{
        margin-right: 50px;
        margin-top: 5px;
    }

    .head-searchbar input{
        height: 40px;
        width: 250px;
    }


    .head-searchbar img{
        width: 18px;
        margin-top: 11px;
    }

    .Menu-name p{
        font-size: 24px;
    
    }

    .usep-footercard{
        margin-left: 30px;
    }

    .main-logo{
        margin-left: -50px;
    }

    .left-container{
        z-index: 2;
    }

    .searchbar{
       width: 55% !important;
       margin-right: 20px;
    }

    .input-group-text{
        width: 100%;
        border-radius: none !important;
    }
    .row{
        width: 100% !important;
        margin-left: 0px!important;
    }

    .main-content{
        padding-top: 10px;
    }
    .content-1{
        width: 110% !important;
    }

    .content-2{
        width: 110%;
    }

    .table-container{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%) !important;
        border-radius: 5px;
        max-height: 1000px !important;
        overflow-y: auto;
        border: 1px solid #ccc;
    }

    .container{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .content-3{
        width: 102%;
    }

    #invHover .circle{
        top: 7px;
        right: 175px;
    }

}

@media only screen and (max-width: 380px) {
    .main-content{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-top: 0px !important;
        padding-right: 5px;
        margin-bottom: 20px;
      }

    #sidebar{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 4;
    }


    .left-container{
        width: 250px;
        height: 0px !important;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        transition: all 0.35s ease-in-out;
        top: 0;
        position: sticky;
        z-index: 3;
    }


    .head-content{
        width: 100%;
        height: 68px;
        background-color: white;
        display: flex;
        align-items: center;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .head-content .Menu-name {
        display: flex;
        align-items: center;
        color: #0F947E;
        font-size: 32px;
        font-weight: 900;
        padding-left: 10px;
        flex-grow: unset !important;
        display: flex;
        width: 100%;
    }

    .head-content .Menu-name i{
        font-size: 20px !important;
    }

    .Menu-name p{
        font-size: 18px; 
    }

    .open-btn{
        margin-right: 10px;
        margin-top: -9px;
        background-color: white;
    }

    .close-btn{
        display: block !important;
    }

    .head-searchbar{
        position: relative;
        margin-right: 0px;
        display: none;
    }
    
    .head-searchbar img{
        position: absolute;
        margin-top: 10px;
        margin-left: 15px;
    }
    
    input:focus {
        outline: none;
    }
    
    .head-searchbar input{
        border: none;
        background-color: #FAFBFD;
        height: 45px;
        width: 100px;
        padding-top: -50px;
        border-radius: 5px;
        padding: 10px;
        font-size: 13px;
        padding-left: 45px;
    }

    .user-profile{
        display: flex;
        margin-right: 15px;
    }

    .right-container1{
        display: none;
    }

    .mainTransactionTable{
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

    .searchContainer{
        padding-left: 0px !important;
        margin-left: 0px !important;  
    }

    .searchBox{
        border-radius: 4px !important;
        width: 100px !important;
        height: 25px !important;
    }

    .searchBox img{
        margin-left: -8px !important;
        width: 10px !important;
        margin-top: -3px !important;
    }

    .searchBox input{
        width: 60px !important;
        height: 20px !important;
        background-color: #FAFBFD;
        border-radius: 4px !important;
        font-size: 8px !important;
        margin-top: -5px !important;
    }

    .sortContainer {
        margin-top: 0px !important;
    }

    .sortContainer h6{
        font-size: 8px !important;
        margin-bottom:  0px !important;
    }

    .sortDropdown input{
        padding: 6px !important;
        font-size: 10px !important;
        border-radius: 4px;
        outline: none;
        border: 1px solid rgb(162, 162, 162);
        margin-top: -20px !important;
    }

    .sortDropdown{
        width: fit-content !important;
        margin-top: -3px !important;

    }

    #fromDate{
        margin-right: 50px !important;
    }

    .yawa{
        margin-left: 80px !important;
    }

    .filterBtns{
        padding-top: 0px;
        margin-left: 5px;
        margin-top: -10px;
    }
    
    .filterBtns .refresh{
        border: none;
        background-color: #F5BA38;
        color: white;
        width: 50px;
        border-radius: 100px;
        font-size: 8px;
        padding: 3px;
    }

    .tableDiv{
        width: 98%;
    }

    .table th, td{
        text-align: center;
        font-size: 8px !important;
    }


    .vwEmpProfile{
        color: white;
        width: 70px;
        border-color:transparent;
        border-radius: 20px;
        border: none;
        height: 20px;
        background-color: #0F947E;
    }
    
    .vwEmpProfile:hover{
        background-color: #1cbba0;
        border: none;
    }
    
    .vwEmpProfile h6{
        font-size: 5px !important;
    }

  
    
}


